<%= partial("partials/navbar",  :locals => { :baffle_text => "Favs" }) %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= partial "pages/favs" %>
    </div>
  </div>
</div>